@-moz-viewport: {width: device-width;scale: 1;}
@-ms-viewport: {width: device-width;scale: 1;}
@-viewport: {width: device-width;scale: 1;}
@-o-viewport: {width: device-width;scale: 1;}
@-webkit-viewport: {width: device-width;scale: 1;}
@viewport: {width: device-width;scale: 1;}

html {
  box-sizing: border-box;
  font: normal 100% ;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;

	font-family: sans-serif;
}

body{
	margin: 0;
}

html{
	margin: 0;
	padding:0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grid{
	overflow: hidden;
}

.unit{
	float: left;
}

h1{
	text-align: center;
	margin: 0;
	padding-top: 1em;
}

	.masthead a{
	text-decoration: none;
}

.masthead{
	background-color: #D8D8D8;
}

.masthead li{
	text-decoration: none;
}

.gutter{
	padding-left: 2em;
	padding-right:  1.5em;
	padding-top: 1em;
}

.img-flex{
	width: 100%;
}

p{
	margin: 0;
	margin-bottom: 1em;
}

ul{
	margin-top: 2em;
	padding: 0;

}

@media only screen and (min-width: 15em ){
/* 240px xsmall */
}

@media only screen and (min-width: 20em){
/* 320px */

	.masthead{
		text-align: center;;
	}

	.masthead li{
		display: inline-block;
}

}

@media only screen and (min-width: 25em){
/*400px small*/
}

@media only screen and (min-width: 38em) {
/*608px medium*/
}

@media only screen and (min-width: 60em) {
	/*960 large*/

		.nav{
		text-align: left;
	}
}

