html {
  box-sizing: border-box;
  font: normal 100% ;
  moz-text-size-adjust:100%;
	ms-text-size-adjust:100%;
	webkit-text-size-adjust:100%;
	text-size-adjust:100%;

	font-family: sans-serif;
}

body{
	margin: 0;
}

html{
	margin: 0;
	padding:0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.grid{
	background-color: blue;
	overflow: hidden;
}

.unit{
	float: left;
	background-color: red;
}

.masthead{
	background-color: #D8D8D8;
}

h1{
	text-align: center;
	margin: 0;
	padding: 1em;
}

.masthead{
	padding-bottom: 1em;
}

.masthead ul{
	background-color: purple;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.masthead li{
	text-decoration: none;
}

.gutter{
	padding-left: 2em;
	padding-right:  1.5em;
	padding-top: 1em;
}

.img-flex{
	width: 100%;
}

p{
	margin: 0;
}
